# BDC Filing for {{ longDate }}

Please find the filing data for the {{ longDate }} update below.

## National Data

### LocationID to H3 tile or Census Block

* CSV Download: [Here](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/national/bslsLookup.csv)
* Parquet Download: [Here](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/national/bslsLookup.parquet)

### Count of LocationID by Census Block

* CSV Download: [Here](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/national/blockBsls.csv)
* Parquet Download: [Here](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/national/blockBsls.parquet)

### Count of LocationID by H3 Tile

* CSV Download: [Here](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/national/h3Bsls.csv)
* Parquet Download: [Here](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/national/h3Bsls.parquet)

## State level downloads

| State | LocationIdLookup | BSL count by Block | BSL count by H3 Tile |
|---|---|---|---|{% for state in states %}
| {{ state.upper() }} | [CSV](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/states/{{ state.lower() }}BslLookup.csv) / [Parquet](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/states/{{ state.lower() }}BslLookup.parquet) | [CSV](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/states/{{ state.lower() }}BlockBsls.csv) / [Parquet](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/states/{{ state.lower() }}BlockBsls.parquet) | [CSV](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/states/{{ state.lower() }}H3Bsls.csv) / [Parquet](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/states/{{ state.lower() }}H3Bsls.parquet) |{% endfor %}

## Notes for automated access

* This repository has an API file that you can use to access all the data from the directories in an automated fashion. A link to this file is here: [Link](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/metadata.json) For more information please refer to the documentation in the base git repository.

## Historical caching

Below are mirrors of the original filing endpoints for future reference.

* [filingMetadata.json](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }}/filingMetadata.json)
* [fileMetadata.json](https://pub-96372591292d4fdca85ff0f6db6c67c2.r2.dev/bslTools/{{ shortDate }/fileMetadata.json})